*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px black,
    2px 2px 4px goldenrod;
    margin-top: 50px;
}

.box h2{
    font-size: 32px;
    color: coral;
    text-shadow:0 0 3px black,
    2px 2px 4px goldenrod;
}
